{% extends 'app/base.html' %}
{% load static %}

{% block title %}Explorer{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{% url 'explorer' %}" class="list-group-item list-group-item-action active" aria-current="true">All Products</a>
                <a href="{% url 'topwear' %}" class="list-group-item list-group-item-action">Topwear</a>
                <a href="{% url 'bottomwear' %}" class="list-group-item list-group-item-action">Bottomwear</a>
                <a href="{% url 'laptop' %}" class="list-group-item list-group-item-action">Laptop</a>
                <a href="{% url 'mobile' %}" class="list-group-item list-group-item-action">Mobile</a>
                <a href="#" class="list-group-item list-group-item-action">Other</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                {% for product in products %}
                <div class="col-md-4 mb-4 text-center">
                        <div class="card item bg-transparent"> <!-- Add the bg-transparent class -->
                            <img src="{{ product.product_image.url }}" class="card-img-top" alt="Product Image" height="300px">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class="card-text">Price: {{ product.discounted_price }}</p>
                                <a href="{% url 'product-detail' product.id %}" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
