{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}
<!--Banner Slider-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'app/images/banner/bann1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/bann2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/bann3.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/bann4.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/bann5.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- End Banner Slider -->
{% endblock banner_slider %}

{% block banner %}
<!--Banner-->
<section id="banner" class="section-p1 section-m1">
  <h4>Repair Services</h4>
  <h2>Up to <span>70% off</span> All t-Shirts & Accessories</h2>
  <a href="{% url 'explorer' %}"><button class="normal">Explore More</button></a>
</section>
<!--Banner-->
{% endblock banner %}

{% block main-content %}
<!-- 1st Product Slider -->
<div class="mx-3">
  <h4 class="alert alert-danger text-dark fw-bold text-center">Top Wears</h4>
  <!-- Slider 2 -->
  <div class="owl-carousel" id="slider2">
    {% for t in topwears %}
    <a href="{% url 'product-detail' t.id %}" class="btn border border-primary border-2">
      <div class="item bg-transparent">
        <img src="{{t.product_image.url}}" alt="" height="200px">
        <hr class="text-dark">
        <span class="fw-bold">{{t.title}}</span><br>
        <span class="fs-5">Rs. {{t.discounted_price}} &nbsp; <small class="fw-light text-decoration-line-through ml-1">RS. {{t.selling_price}}</small></span>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<!-- End 1st Product Slider -->
{% endblock main-content %}

{% block payment %}
<!-- Payment Info Section -->
<div class="container my-5">
  <div class="row">
    <div class="col-sm-3">
      <div class="card mb-3">
        <div class="card-body">
          <img src="{% static 'app/images/payavail/cc.jpg' %}" alt="" srcset="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3">
        <div class="card-body">
          <img src="{% static 'app/images/payavail/upi.jpg' %}" alt="" srcset="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3">
        <div class="card-body">
          <img src="{% static 'app/images/payavail/nb.jpg' %}" alt="" srcset="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3">
        <div class="card-body">
          <img src="{% static 'app/images/payavail/bj.jpg' %}" alt="" srcset="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Payment Info Section -->
{% endblock payment %}

{% block livesale %}
<!--Live Banner-->
<section id="banner" class="section-p1 section-m1 ban">
  <h4>95% OFF</h4>
  <h2>the Entire <span>Store</span> All laptop & Mobiles</h2>
  <a href="{% url 'explorer' %}">
    <button class="normal">Explore More</button>
  </a>
</section>
<!--Live Banner end-->
{% endblock livesale %}

{% block main-content2 %}
<!-- 2nd Product Slider -->
<div class="mx-3">
  <h4 class="alert alert-danger text-dark fw-bold text-center">Bottom Wears</h4>
  <!-- Slider 1 -->
  <div class="owl-carousel" id="slider1">
    {% for b in bottomwears %}
    <a href="{% url 'product-detail' b.id %}" class="btn border border-primary border-2">
      <div class="item bg-transparent">
        <img src="{{b.product_image.url}}" alt="" height="200px">
        <hr class="text-dark">
        <span class="fw-bold">{{b.title}}</span><br>
        <span class="fs-5">Rs. {{b.discounted_price}} &nbsp; <small class="fw-light text-decoration-line-through ml-1">RS. {{b.selling_price}}</small></span>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<!-- End 2nd Product Slider -->
{% endblock main-content2 %}

{% block main-content3 %}
<!-- 3rd Product Slider -->
<div class="mx-3">
  <h4 class="alert alert-danger text-dark fw-bold text-center">Mobile</h4>
  <!-- Slider 3 -->
  <div class="owl-carousel" id="slider3">
    {% for m in mobiles %}
    <a href="{% url 'product-detail' m.id %}" class="btn border border-primary border-2">
      <div class="item bg-transparent">
        <img src="{{m.product_image.url}}" alt="" height="200px">
        <hr class="text-dark">
        <span class="fw-bold">{{m.title}}</span><br>
        <span class="fs-5">Rs. {{m.discounted_price}} &nbsp; <small class="fw-light text-decoration-line-through ml-1">RS. {{m.selling_price}}</small></span>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<!-- End 3rd Product Slider -->
{% endblock main-content3 %}

{% block main-content4 %}
<!-- 4th Product Slider -->
<div class="mx-3">
  <h4 class="alert alert-danger text-dark fw-bold text-center">Laptop</h4>
  <!-- Slider 4 -->
  <div class="owl-carousel" id="slider4">
    {% for l in laptops %}
    <a href="{% url 'product-detail' l.id %}" class="btn border border-primary border-2">
      <div class="item bg-transparent">
        <img src="{{l.product_image.url}}" alt="" height="200px">
        <hr class="text-dark">
        <span class="fw-bold">{{l.title}}</span><br>
        <span class="fs-5">Rs. {{l.discounted_price}} &nbsp; <small class="fw-light text-decoration-line-through ml-1">RS. {{l.selling_price}}</small></span>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<!-- End 4th Product Slider -->
{% endblock main-content4 %}
