{% extends 'app/base.html' %}
{% load static %}
{% block title %}Laptop{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <!-- Filter section -->
            <div class="sticky-top">

            <div class="list-group">
                <a href="{% url 'laptop' %}" class="list-group-item list-group-item-action {% if data is None %}active{% endif %}" aria-current="true">All Laptop</a>
                <a href="{% url 'laptopdata' 'Lenovo' %}" class="list-group-item list-group-item-action btn btn-outline-success" aria-current="true">Lenovo</a>
                <a href="{% url 'laptopdata' 'Dell' %}" class="list-group-item list-group-item-action btn btn-outline-success" aria-current="true">Dell</a>
                <a href="{% url 'laptopdata' 'HP' %}" class="list-group-item list-group-item-action btn btn-outline-success" aria-current="true">HP</a>
                <a href="{% url 'laptopdata' 'MacBook' %}" class="list-group-item list-group-item-action btn btn-outline-success" aria-current="true">MacBook</a>
                <a href="{% url 'laptopdata' 'MI' %}" class="list-group-item list-group-item-action btn btn-outline-success" aria-current="true">MI</a>
                <a href="{% url 'laptopdata' 'Below' %}" class="list-group-item list-group-item-action btn btn-outline-success" aria-current="true">Below 500</a>
                <a href="{% url 'laptopdata' 'Above' %}" class="list-group-item list-group-item-action btn btn-outline-success" aria-current="true">Above 500</a>
            </div>
        </div>

        </div>
        <div class="col-md-9">
            <!-- Product display section -->
            <div class="row">
                {% for b in laptops %}
                <div class="col-md-4 mb-4 text-center">
                    <div class="card item bg-transparent"> <!-- Add the bg-transparent class -->
                        <img src="{{ b.product_image.url }}" class="card-img-top" alt="Product Image" height="250px">
                        <div class="card-body">
                            <h5 class="card-title">{{ b.title }}</h5>
                            <p class="card-text">Price: {{ b.discounted_price }}</p>
                            <a href="{% url 'product-detail' b.id %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
