{% extends 'app/base.html' %}
{% load static %}
{% block title %}Mobile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
    <a href="{% url 'mobile' %}" class="list-group-item list-group-item-action" aria-current="true">All Mobile</a>
    <a href="{% url 'mobiledata' 'Redmi' %}" class="list-group-item list-group-item-action" aria-current="true">Redmi</a>
    <a href="{% url 'mobiledata' 'Samsung' %}" class="list-group-item list-group-item-action" aria-current="true">Samsung</a>
    <a href="{% url 'mobiledata' 'Vivo' %}" class="list-group-item list-group-item-action" aria-current="true">Vivo</a>
    <a href="{% url 'mobiledata' 'Realme' %}" class="list-group-item list-group-item-action" aria-current="true">Realme</a>
    <a href="{% url 'mobiledata' 'Oppo' %}" class="list-group-item list-group-item-action" aria-current="true">Oppo</a>
    <a href="{% url 'mobiledata' 'Iphone' %}" class="list-group-item list-group-item-action" aria-current="true">Iphone</a>
    <a href="{% url 'mobiledata' 'Nokia' %}" class="list-group-item list-group-item-action" aria-current="true">Nokia</a>
    <a href="{% url 'mobiledata' 'Techno' %}" class="list-group-item list-group-item-action" aria-current="true">Techno</a>
    <a href="{% url 'mobiledata' 'Below' %}" class="list-group-item list-group-item-action" aria-current="true">Below 10000</a>
    <a href="{% url 'mobiledata' 'Above' %}" class="list-group-item list-group-item-action" aria-current="true">Above 10000</a>


   </div>
  </div>
  <div class="col-sm-8 ">
   <div class="row">
    {% for p in mobiles %}
    <div class="col-sm-4 text-center mb-4">
        <a href="{% url 'product-detail' p.id %}" class="btn">
        <div class="item">
            <img src="{{p.product_image.url}}" alt="" height="300" class="">
            <div class="fw-bold">{{p.title}}</div>
            <div class="fw-bold">{{p.discounted_price}} <small class="fw-light text-decoration-line-through">{{p.selling_price}}</small>
            </div>
        </div>
        </a>
    </div>
    {% endfor %}
   </div>
  </div>
 </div>
 
</div>
{% endblock main-content %}

<!-- 3rd Product Slider -->
<div class="mx-3">
  <h4 class="alert alert-danger text-dark fw-bold text-center">DreamCreation Mobile</h4>
  <!-- Slider 3 -->
  <div class="owl-carousel" id="slider3">
    {% for m in mobiles %}
    <a href="{% url 'product-detail' m.id %}" class="btn">
      <div class="item"><img src="{{m.product_image.url}}" alt="" height="200px"><span
          class="fw-bold">{{m.title}}</span><br><span class="fs-5">Rs. {{m.discounted_price}}</span></div>
    </a>
    {% endfor %}
  </div>
</div>

<!-- End erd Product Slider -->