.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}


h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 50px;
    font-size: 12px;
}
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 25px;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: rgb(220, 48, 48);
    background-color: rgb(232, 219, 219);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
/* Banner Start */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 221px;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 30px;

}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;

}

#banner h2 span {
    color: rgb(214, 95, 95);
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #banner {
        height: 20vh;
    }

    #banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

}

@media (max-width: 477px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 25px;
    }

    h4 {
        font-size: 27px;
    }

    p {
        margin: -4px 0px -7px 0;
    }
    #banner {
        height: 35vh;
    }


}

