body{
    background: linear-gradient(to top right, #aae6e0,#e9e3ead0,#c0e9eecb,#a98fd8cc);
}
nav{
    background: #2077c8a8;
}
.owl-carousel .item{
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
    background-color: red;
    height: 60px;
    float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span,
.owl-next span{
    font-size: 40px;
    font-weight: bold;
   } 
  /* Add custom CSS styles here */
    /* Add custom CSS styles here */

.owl-carousel .owl-nav {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        justify-content: space-between;
    }
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    background-color: rgb(232, 219, 219);
      /* Set the background color to red */
      border: none; /* Remove the default button border */
      padding: 5px 10px;
      border-radius: 5px;
      color: rgba(237, 12, 12, 0.8); /* Set the button text color to white */
      height: 90px; /* Make the buttons' height equal to the carousel container */
      width: 20px; /* Set a fixed width for the buttons */
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover{
    background-color: #088178;
    color: #fff;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
      
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}


h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 50px;
    font-size: 12px;
}
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 25px;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: rgb(220, 48, 48);
    background-color: rgb(232, 219, 219);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

/*//livesale */
.ban{

    background:url(http://s6.favim.com/orig/150112/background-cold-gif-nature-Favim.com-2380226.gif);
    /*https://i0.wp.com/media.giphy.com/media/5ERaOy5fQEIAU/giphy.gif*/
}


/* Banner Start */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 221px;
    background-size: cover;
    background-color: #222;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 30px;

}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;

}

#banner h2 span {
    color: rgb(214, 95, 95);
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

@media (max-width:799px) {
    #banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        height: 17vh;
        background-size: cover;
        background-color: #222;
        background-position: center;
    }
    
    #banner h4 {
        font-size: 20px;
    }
    
    #banner h2 {
        font-size: 9px;
        padding: 1px 0;
        margin: -11px;
    }

    .section-m1 {
        margin: 12px;
    }
    button.normal {
        font-size: 10px;
        font-weight: 600;
        padding: 9px 28px;
    }

}


@media (max-width: 477px) {
    #banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        height: 17vh;
        background-size: cover;
        background-color: #222;
        background-position: center;
    }
    
    #banner h4 {
        font-size: 20px;
    }
    
    #banner h2 {
        font-size: 9px;
        padding: 1px 0;
        margin: -11px;
    }

    .section-m1 {
        margin: 12px;
    }
    button.normal {
        font-size: 10px;
        font-weight: 600;
        padding: 9px 28px;
    }



}

  
